@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 24px;
}

body {
  font-family: "Rubik", sans-serif;
}

.wrapper .address {
  height: 280px;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .address .address-container {
  padding-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .address .address-container h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 32px;
  letter-spacing: -0.29px;
  font-weight: 500;
  margin-bottom: 31px;
}
.wrapper .address .address-container .search {
  width: 100%;
  max-width: 555px;
  height: 58px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0980392157);
          box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0980392157);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  margin-bottom: 48px;
}
.wrapper .address .address-container .search input {
  width: 100%;
  max-width: 299px;
  height: 21px;
  border: none;
  outline: none;
  font-size: 18px;
}
.wrapper .address .address-container .search wrap {
  width: 58px;
  height: 58px;
  background-color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .address .address-container .information {
  width: 100%;
  min-height: 161px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0980392157);
          box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0980392157);
  border-radius: 10px;
  padding: 37px 32px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .address .address-container .information div {
  width: 100%;
  max-width: 213px;
}
.wrapper .address .address-container .information div p {
  font-size: 12px;
  font-weight: 700;
  color: #2C2C2C;
  letter-spacing: 1.75px;
  opacity: 49.87%;
  margin-bottom: 13px;
}
@media (max-width: 917px) {
  .wrapper .address .address-container .information div p {
    margin-bottom: 7px;
    text-align: center;
  }
}
.wrapper .address .address-container .information div h2 {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.23px;
}
@media (max-width: 917px) {
  .wrapper .address .address-container .information div h2 {
    font-size: 24px;
    letter-spacing: -0.18px;
    text-align: center;
  }
}
.wrapper .address .address-container .information span {
  width: 1px;
  height: 72px;
  margin-top: 6px;
  background-color: #000000;
  opacity: 15%;
  margin-left: 32px;
}
.wrapper .address .address-container .information .info {
  margin-left: 32px;
}
.wrapper .address .address-container .information .isp {
  max-width: 100px;
}
@media (max-width: 917px) {
  .wrapper .address .address-container .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
    padding: 16px 24px;
    max-width: 327px;
  }
  .wrapper .address .address-container .information span {
    display: none;
  }
  .wrapper .address .address-container .information div {
    max-width: 279px;
  }
  .wrapper .address .address-container .information .info {
    margin: 0;
  }
  .wrapper .address .address-container .information .isp {
    max-width: 279px;
  }
}
.wrapper .maps {
  width: 100%;
  height: 520px;
}